<div class="container">

<div class="row">

<div class="col-md-9">
<h3>Weather Metrics Devices</h3>
<div class="panel panel-primary border rounded p-3">

<div class="row">

    <div class="mb-3 col-md-6">
        <label for="selectDevice" class="mb-3">Select Weather Metrics Device</label>

        <select class="form-select" aria-label="Select Weather Metrics Device" id="selectDevice" (change)="onDeviceSelectionChange($event);">
        <option disabled selected value="">Select a Weather Metrics Device</option>
        <option value="1">Weather Metrics Device One</option>
        <option value="2">Weather Metrics Device Two</option>
        <option value="3">Weather Metrics Device Three</option>
        </select>

    </div>

</div>

<div class="row">
    <div class="col-md-8">
    <div class="panel panel-primary border rounded p-3" [style.display]="(strIoTDeviceID != '') ? 'block' : 'none'">
    <div class="row">

        <div class="mb-3 col-md-8">
            <label for="selectLoggingInterval" class="mb-3">Select Device Logging Interval</label>

            <select class="form-select" aria-label="Device Logging Interval" id="selectLoggingInterval" (change)="onLoggingIntervalSelectionChange($event);">
            <option disbled selected value="">Select Device Logging Interval</option>
            <option value="5">5 Min</option>
            <option value="10">10 Min</option>
            <option value="20">20 Min</option>
            <option value="30">30 Min</option>
            </select>

        </div>

    </div>



    <div class="row">

        <div class="mb-3 col-md-4">
        <label for="deviceUptime">Device Uptime</label>
        <input id="deviceUptime" type="text" class="form-control" readonly value="{{this.strIoTDeviceUptime}}" >
        </div>

    </div>

    <div class="row">

        <div class="mb-3 col-md-4">
        <label for="deviceStatus">Device Status</label>
        <input id="deviceStatus" type="text" class="form-control" readonly value="{{this.strIoTDeviceStatus}}" >
        </div>

    </div>


    <div class="row">

    <div class="mb-3 col-md">

        <button type="submit" class="btn btn-primary" (click)="onEnable();" [disabled]="(isEnabled)"  >Enable Logging</button>&nbsp;
        <button type="submit" class="btn btn-primary" (click)="onDisable();" [disabled]="(!isEnabled)" >Disable Logging</button>
        

    </div>

</div>

<div class="row">
     <div class="mb-3 col-md">

        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success" (click)="onDeviceUpdate();" [disabled]="(strIoTDeviceID=='')" >Update Device</button>
        
        </div>

     </div>

</div>


</div>    
</div>


</div>
</div>

</div>

</div>

</div>

