<main>
  <mat-toolbar class="toolbar">Weather Metrics Data Application</mat-toolbar>

  <mat-toolbar class="navtoolbar">
    <ul>
      <li><a href="/home" class="list-item">Home</a></li>
      <li><a href="/weathermetricsdata" class="list-item">Weather Metrics Data</a></li>
      <li><a href="/weathermetricsdevices" class="list-item">Weather Metrics Devices</a></li>
    </ul>
  </mat-toolbar>

</main>

<div class="basic-container">
  <router-outlet>
  </router-outlet>
</div>

<app-footer></app-footer>
