<div class="container">
<div class="row">

<div class="panel panel-primary border rounded p-3">
  <div class="panel-heading">
    <h3 class="panel-title">Weather Metrics Data Azure IoT Solution</h3>
  </div>
  <div class="panel-body">
<p>The Weather Metrics Data Application is an Angular Web front end for a Weather Metrics Data Azure IoT solution which will acquire Weather Metrics from a number of Raspberry PI devices.
This application interfaces with an ASP.NET CORE MVC RESTful Web API hosted as an app service in Azure.   Some of the features of this application will include previewing of Weather Metrics Log Data and also
allowing basic Add, Update and Delete operations to this data as well.  Eventually once an Azure IoT Hub is added to this Azure IoT solution it will allow both the gathering of Weather Metrics Data from the Raspberry PI devices and also allow remote control of those devices as well.
</p>    
  </div>
</div>
</div>
</div>



