/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  margin-bottom: 40px;
}

.toolbar {
  background-color: black !important;
  color: white !important;
}

.navtoolbar {
  background-color: gray !important;
  color: white !important;
}

.basic-container {
  padding: 50px;
  margin-left: 10px;
}


ul {
  list-style-type: none;
  display: flex;
}

li {
  padding: 10px;
}

.list-item {
  font-size: smaller;
  text-decoration: none !important;
  color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* Material Dialog Border Radius */

.mat-mdc-dialog-surface {
  border-radius: 7px !important;
}

